/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	font-size:125%;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
	font-family: Courier, Impact, Arial;
}

.active{
	background: rgb(99, 224, 255);
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}

/*Style the images*/
img{
    height: 150px;
	width:auto;
    padding: 25px;
    border-radius: 20px;
    margin: 5px;
	margin-left: 10%
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
	font-family: Courier, Impact, Arial;
	padding:10px;
	width:20%;
	border: 3px dashed rgb(255, 149, 0);
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
	font-family: Courier, Impact, Arial;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer{
	margin: 10px 0;
	font-family: Courier, Impact, Arial;
}


/*Change the styling for all of the list 
items in the nav section*/
nav ul li{
	background-color: #b2d4f4;
	padding:10px;
	width:25%;
	border: 3px dashed rgb(255, 149, 0);
	display: inline-block;
	width: 20%;
}

/*Added this so the links stay the same color*/
a:visited{color:rgb(72, 0, 255)}

